@using BlazorLearning.Views.Base;

<ElementBase State="State">
    <Loading>
        Loading.....
    </Loading>
    <Content>
        @ContentComponent
    </Content>
    <Error>
        <label>@ErrorMessage</label>
    </Error>
</ElementBase>